/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #797979;
}
::-webkit-scrollbar-thumb {
    background: #2b2b2b;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.team .title{
    text-align:center;
}

.about .about-content, 
.services .serv-content,
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    /* text-align: center; */
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    /* background: #111; */
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: static;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
/* .navbar.sticky{
    padding: 15px 0;
    background: crimson;
} */
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: black;
    margin-right: 500px;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: greenyellow;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: greenyellow;
    text-shadow: 3px 1px 10px greenyellow;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* --------------------------------------------  */

/*             home section styling             */

/* ------------------------------------------  */

/* .home{
    display: flex;
    background: url("./img/cool-background.png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.hire{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content .hire:hover{
    color: crimson;
    background: none;
} */

/* -------------------------------------------- */

/*           about section styling             */

/* ------------------------------------------- */

/* .about .title::after{
    content: "who i am";
} */
.about .about-content .left{
    width: 45%;
}
.about .about-content .right img{
    height: 400px;
    width: 350px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .left{
    width: 55%;
}
.about .about-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .left .text{
    color: black;
}
.about .about-content .left p{
    text-align: justify;
}
.about .about-content .left a{
    display: inline-block;
    background: rgb(5, 138, 247);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(5, 138, 247);
    transition: all 0.3s ease;
    /* text-shadow: 3px 1px 10px  rgb(5, 102, 247); */
}
.about .about-content .left a:hover{
    color:white;
    text-shadow: 3px 1px 10px  rgb(5, 102, 247);
}

/* ----------------------------------------------- */

/*              Service Section                   */

/* ---------------------------------------------- */

/* .services, .teams, .contact{ */
    /* background-color: #111; */
    /* color: white; */
/* } */
/* .services .title::before,
.teams .title::before,
.contact .title::before{ */
    /* background: #fff; */
/* }
.services .title::after,
.teams .title::after,
.contact .title::after{ */
    /* content: "What i provide"; */
    /* background: #111; */
/* } */

.services .serv-content .card{
    width: calc(33% - 20px);
    /* background: #222222; */
    /* text-align: center; */
    /* border-radius: 6px; */
    padding: 20px 25px ;
    cursor: pointer;
}
.services .serv-content .card img{
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: crimson;
}
/* .services .serv-content .card:hover img{
    color: #fff;
    height: 20px;
    width: 20px;
    transition: all 0.3 ease;
} */
/* .services .serv-content .card:hover{ */
    /* background: crimson; */
/* } */
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.services .serv-content .card .desc{
    font-size: 15px;
}

/* ----------------------------------------------- */

/*             Skills Section                     */

/* ---------------------------------------------- */

/* .skills .title::after{
    content: "What i know";
} */
.skills .skills-content .card {
    width: calc(100% - 20px);
    /* background: #222222; */
    /* text-align: center; */
    border-radius: 6px;
    padding: 20px 25px;
    margin: 20px;
    cursor: pointer;
}

.skills .skills-content .card img {
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: crimson;
}
.skills .skills-content .card .box {
    transition: all 0.3s ease;
    /* text-align: end; */
}

.skills .skills-content .card .box .social {
    margin-top: 50px;
    text-align: end;
}

.skills .skills-content .card:hover .box {
    transform: scale(1.05);
}

.skills .skills-content .card .text {
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.skills .skills-content .card .desc {
    font-size: 15px;
}

.skills .skills-content .card a{
/* .services .serv-content .card a { */
    border: 1px solid #ffffff;
    padding: 5px 15px;
    text-decoration: none;
    background: #ffffff;
    border-radius: 5px;
    /* text-align: end; */
}

.linkedin{
    background-color: rgb(7, 119, 224);
}
.discord{
    background-color: rgb(54, 7, 224);
}
.twitter{
    background-color: rgb(9, 165, 238);
}
.github{
    background-color: rgb(7, 119, 224);
}

/* ------------------------------------------------- */
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text,
.skills .skills-content .right .text
{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left  p,
.skills .skills-content .right  p{
    text-align: justify;
}


.skills .skills-content .right .bars,
.skills .skills-content .left .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info,
.skills .skills-content .left .info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}
/* .skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
} */

.skills .skills-content .right .line,
.skills .skills-content .left .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before,
.skills .skills-content .left .line::before{
    content: "";
    position: absolute;
    height: 100%;
    /* width: 80%; */
    left: 0;
    top: 0;
    background: crimson;
}

/* .skills-content .right .java::before{
    width: 65%;
}
.skills-content .right .js::before{
    width: 45%;
}
.skills-content .right .php::before{
    width: 70%;
}
.skills-content .right .python::before{
    width: 55%;
}
.skills-content .right .mysql::before{
    width: 90%;
} */
/* ----------------------------------------------- */

/*                 Teams section                   */

/* ----------------------------------------------- */

/* .teams .title::after{ */
    /* content: "who with me"; */
/* } */
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}
/* ----------------------------------------------- */

/*               Contect Section                  */

/* ----------------------------------------------- */

.contact .title::after{
    content: "Get In Touch";
    
}
.contact .icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .icon a{
    display: inline;
    font-size: 55px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    margin: 0 10px;
    transition: 0.4s linear;
}
/* .icon a::before,
.icon a::after{
    content: ""; */
    /* position: relative; */
    /* box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0 ;
    top: 0;
    transition: all 0.5s linear;
} */

.icon a:hover{
    transform: scale(0.7);
    color: crimson;
}

.icon a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(25deg);
}
.icon a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-25deg);
} 

/* ----------------------------------------------- */

/*                Footer Section                   */

/* ----------------------------------------------- */
footer{
    background: rgb(253, 251, 251);
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
.footer{
    background:#000;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
.footer span a{
    text-decoration: none;
}
.footer span a:hover{
    text-decoration: underline;
}
/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background:#ffffff !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    transform: rotateY(-180deg);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
   
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* ----------------------------------------------- */

/*         responsive media query start            */

/* ----------------------------------------------- */

@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
